{# Geschützte Seite #}
            {% set target_route = route %}

            {# Mitarbeiter #}
<li>
    <a href="{{ path(route) }}"
       class="{% if current_route == target_route %}{{ active_classes }}{% else %}{{ default_classes }}{% endif %}">
                    <span class="relative z-10 flex items-center space-x-3">
                        {{ ux_icon(icon, { class: 'w-5 h-5 transition-colors duration-200' }) }}
                        <span>{{ title }}</span>
                    </span>
        {% if current_route == target_route %}
            <div
                class="absolute left-0 top-0 bottom-0 w-1 bg-gradient-to-b from-slate-600 to-slate-800 dark:from-white dark:to-gray-300 rounded-r-full"></div>
        {% endif %}
    </a>
</li>
